<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @category.items.each do |item| %>
      <tr>
        <td><%= item.name_item %></td>
        <td><%= item.weight %></td>
        <td><%= item.price %></td>
        <td><%= link_to 'Show', item_path(item.category) %></td>
        <td><%= link_to 'Edit', edit_item_path(item.category) %></td>
        <td><%= link_to 'Destroy', item_path(item.category), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
