<% title "#{@item.name}" %>

<div class="col-lg-3 buffer-top">
  <div class="table-responsive">
    <table class="table">
      <ul class="lead">
         <li><%= @item.name %></li>
         <li>Вес: <%= @item.weight %> гр.</li>
         <li>Цена: <%= @item.price %> руб.</li>
         <li><%= button_to "добавить #{@item.name} в корзину", cartitems_path(item_id: @item.id) %></li>
         <li><%= link_to 'Обновить', edit_item_path(@item.category) %></li>
         <li><%= link_to 'Удалить', item_path, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </table>
  </div>
</div>
