<!DOCTYPE html>
<html>
  <head>
    <title>Testapp - <%= content_for?(:title) ? yield(:title) : 'The Biggest Online Store on Earth' %> </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
